h1 {
    color:black;
    margin:0;
}
p {
    color:black;
}
img {
    height:300px;
}
body {
    background-color:#FC7753;
    font-family:'Bangers', cursive;
    margin:0;
}
h1, h2, h3 {
    font-family:'Marcellus SC', serif;
}
.nav-bar {
    background-color:grey;
    overflow:auto;
    padding:10px;
    border-style:solid;
}
.nav-bar a {
    color:#FC7753;
    background-color:grey;
    float:right;
    margin-right:20px;
    padding:20px;
    border-style:solid;
}
#nav a:hover {
    color:#cc1616;
}
#nav h3 {
    background-color:grey;
    display:inline;
    font-size:30px;
    margin-left:20px;
    border-style:solid;
    float:center;
}
.landing {
    background-image:url('https://images.unsplash.com/photo-1495567720989-cebdbdd97913?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:100vh;
    padding:30px;
    text-align:center;
}
.about {
    background-color:#FC7753;
}
.about h2 {
    background-color:#FC7753;
    margin:0;
}
.work {
    background-color:#FC7753;
    height: 400px;
    margin-top: -19px;
    margin-left: -8px;
    margin-right: -8px;
}
.project-card {
    height: 315px;
    width: 32.3%;
    background-color:peach;
    float: left;
    border-style: dashed;
}
.project-card img {
    height: 250px;
    width: 300px;
    border-radius: 10%;
}
.about {
    margin:0;
}
#project-one {
    background-color:#cc1616;
}
#project-three {
    background-color:#cc1616;
}
#project-two{
    background-color:#cc1616;
}
.work {
    text-align: center;
}
.news {
    background-color:#FC7753;
    margin:0;
    text-align:center;
    
}
.news h2 {
    background-color:#FC7753;
    margin:0;
}
ol {
    list-style-type: none;
} 
.contact {
    background-color:#cc1616;
   
}
.contact h2 {
    background-color:#cc1616;
    margin:0;
}
.contact img{
    text-align:center; 
}
div.relative{
    position:relative
}